.button {
  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: 2px 2px 0 var(--main-color);
  transition: all 0.1s ease-in-out;
}

.button:hover {
  box-shadow: 0px 0 0 var(--main-color);
  transform: translate(2px, 2px);
}