@import "./reset.css";

:root {
  --black: #292831;
  --dark-blue: #333f58;
  --light-blue: #4a7a96;
  --light-red: #ee8695;
  --light-orange: #fbbbad;

  --main-color: var(--black);
  --alt-main-color: var(--dark-blue);
  --alt-main-color-secondary: var(--light-blue);
  --accent-color: var(--light-red);
  --accent-color-secondary: var(--light-orange);
}

#root {
  display: grid;
  height: 100vh;
  place-content: center;
}

body {
  font-family: monospace;
}

input {
  border: 2px solid var(--main-color);
  border-radius: 4px;
}